html {
  font-family: "Lato";
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}
body {
  margin:0
}
footer {
  display: block;
}
video {
  display: inline-block;
  vertical-align: baseline;
}
a {
  background-color: transparent;
}
a:active,a:hover {
  outline:0
}
a {
  color:#ff8e03;
  text-decoration:none;
}
a:focus,a:hover {
  color:#ffb050;
  text-decoration:underline
}
a:focus{
  outline:5px auto -webkit-focus-ring-color;outline-offset:-2px
}
b {
  font-weight: 700;
}

.button {
  background-color: #ff8e03; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #ff8e03;
  border-radius: 8px;
}

h1,h2,h3,h4,h5,h6 {
  font-weight:500;
  line-height:1.1
}
h1 {
  font-size:2em;
  margin:.67em 0;
  color:#ff8e03
}
hr {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  background-color:blue;
}
p {
  margin:0 0 10px;
  color:#ffffff;
}
.entry{
  box-sizing:border-box;
  padding-bottom:64px
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.cimg {
    width:  100%;
    height: 65vh;
    object-fit: cover;
}

.fimg {
  height: 5vw;
  width: auto;
}

.rimg {
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
}

.fancy-top {
  border-top: 1rem !important;
  border-color: #310D0D !important;
  border-style: solid !important;
}

.desco {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-right: auto;
  font-weight: 300;
}

.spec {
  padding-bottom: 5rem !important;
}

.bg-img {
  background-image: url("../images/carousel/placeholder.png"); /* Changing later */
  background-size: cover;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.text-glow {
  color: #ff8e03;
  text-shadow: 0 0 20px #ff8e03;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #ff8e03;
  text-align: center !important;
}

.copyright {
  background-color: #1a252f;
}